@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 241, 241, 241;
  --background-end-rgb: 158, 158, 158;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    
}

.hr-title{
  @apply text-primary-500 underline text-3xl font-semibold font-hr-title;
}
.hr-subtitle{
  @apply text-secondary-950 font-medium text-2xl font-hr-title;
}
.hr-paragraph{
  @apply text-secondary-950 text-lg font-medium   ;
}
.hr-paragraph .adorn{
  @apply text-primary-500  font-hr-title ;
}