@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 241, 241, 241;
  --background-end-rgb: 158, 158, 158;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  @apply hr-gradient-background;
}

.hr-title {
  @apply text-primary-500 underline text-6xl font-semibold font-hr-title;
}
.hr-subtitle {
  @apply text-secondary-950 font-medium text-2xl font-hr-title;
}
.hr-paragraph {
  @apply text-secondary-950 text-lg;
}
.hr-paragraph .adorn {
  @apply text-primary-500  font-hr-title;
}

.hr-gradient-background {
  @apply bg-gradient-to-br from-orange-300 -z-10 via-primary-100  to-orange-300;
}
.hr-gradient-background-reverse {
  @apply bg-gradient-to-tl from-orange-300 -z-10 via-primary-100  to-orange-300;
}
.astrounaut-image-global {
  @apply bottom-0 w-auto  absolute -z-10    object-contain opacity-30
  -right-[50%]   h-[100%] 
  sm:-right-[40%] sm:h-[100%] 
  md:-right-[35%] md:h-[100%] 
  lg:h-[75%] lg:-right-[30%] 
  xl:h-[75%] xl:-right-[20%]
  2xl:h-[75%] 2xl:-right-[10%];
}
