.rocket-btn {
  @apply bg-white rounded-full transition-all 
  border-b-4 border-b-primary-500 border-l-4 border-l-primary-500  
  w-[100px] md:w-[180px] lg:w-[250px]  
  shadow-lg shadow-black
  active:animate-wiggle  text-primary-500 animate-wiggle animate-infinite;
}
.rocket-btn:active {
  @apply bg-primary-500 text-white;
}
.rocket-btn:hover {
  @apply border-t-primary-500 duration-500;
}
.rocket-btn .rocket {
  @apply -rotate-90 transition-all scale-110;
}
.rocket-btn:hover .rocket {
  filter: drop-shadow(-2px 0px 2px yellow);
  animation: 3s linear 1s rocket-fly;
}
@keyframes rocket-fly {
  0% {
    transform: rotate(-90deg);
  }
  10% {
    transform: rotate(45deg);
  }
  40% {
    transform: translate(0, 0px) scale(1.4, 1) rotate(45deg);
  }
  70% {
    transform: translate(0px, 100vh) rotate(45deg);
  }
  95% {
    transform: translate(0px, 0) rotate(45deg);
  }
  100% {
    transform: translate(0px, 0) rotate(-90deg);
  }
}
.astrounaut-image {
  @apply bottom-0 w-auto  absolute -z-10    object-contain opacity-30
  -right-[50%]   h-[40%] 
  sm:-right-[40%] sm:h-[40%] 
  md:-right-[35%] md:h-[40%] md:bottom-[10%] 
  lg:h-[75%] lg:-right-[30%] 
  xl:h-[75%] xl:-right-[20%]
  2xl:h-[75%] 2xl:-right-[10%];
}
