.rocket-btn {
  @apply backdrop-blur-md bg-transparent  rounded-full transition-all 
  border-b-8 border-b-primary-500 border-l-4 border-l-primary-500  
  w-[100px] md:w-[180px] lg:w-full  
  shadow-lg shadow-black
   text-primary-500 
   animate-jump-in animate-ease-in-out animate-duration-1000 delay-1000;
}
.rocket-btn:after {
  @apply bg-gradient-to-tr from-primary-200  to-orange-300  absolute -top-[20%]  left-[20%] -right-[20%] bottom-[20%]  w-full h-full -z-10 rounded-full box-content
  border-t-8 border-t-primary-500 border-l-4 border-l-primary-500 animate-jump-in animate-ease-in-out animate-duration-1000 animate-delay-1000 shadow-xl shadow-black;
  content: "";
}

/* @keyframes rocket-fly {
  0% {
    transform: rotate(-90deg);
  }
  10% {
    transform: rotate(45deg);
  }
  40% {
    transform: translate(0, 0px) scale(1.4, 1) rotate(45deg);
  }
  70% {
    transform: translate(0px, 100vh) rotate(45deg);
  }
  95% {
    transform: translate(0px, 0) rotate(45deg);
  }
  100% {
    transform: translate(0px, 0) rotate(-90deg);
  }
} */
.astrounaut-image {
  @apply bottom-0 w-auto  absolute -z-10    object-contain opacity-30
  -right-[50%]   h-[40%] 
  sm:-right-[40%] sm:h-[40%] 
  md:-right-[35%] md:h-[40%] md:bottom-[10%] 
  lg:h-[75%] lg:-right-[30%] 
  xl:h-[75%] xl:-right-[20%]
  2xl:h-[75%] 2xl:-right-[10%];
}
